.chart-box {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: #ffffff;
  margin-top: 20px;
}

.chart-title {
  color: #333333;
  font-family: Nunito;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  padding: 15px 15px 0px 15px;
}
